@import url(contactform.css);
/*
Theme Name: My Awesome Bootstrap Theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: my-awesome-bootstrap-theme
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

My Awesome Bootstrap Theme is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* 
* -----------------------------------------------
* Meyer Reset (simple reset)
* -----------------------------------------------
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =Header
----------------------------------------------- */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

.site-title, .site-title a:visited {
  font: bold 330%/100% "Lucida Grande";
  position: relative;
  color: #F8B403; }

.site-title span {
  background: url("images/gradient-white.png") repeat-x;
  position: absolute;
  display: block;
  width: 100%;
  height: 23px;
  opacity: 0.5; }

/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  text-align: center; }

.main-navigation ul {
  list-style: none;
  margin-top: 5%;
  padding: 0;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .main-navigation ul {
      text-align: center; } }

.main-navigation li {
  float: none;
  display: inline-block;
  position: relative;
  margin: 5px 50px; }

.main-navigation li a {
  display: inline-block;
  text-decoration: none;
  color: #A8A8A8;
  font-size: 1.5em;
  font-weight: 100; }

.main-navigation ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
  margin: 12px 1px 2px;
  width: 1036px;
  /* ^ Behavior */ }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul {
  display: inline-flex; }

.main-navigation li.menu-item.current-menu-item a {
  color: #d63b26;
  text-decoration: overline underline; }

/* Small menu -- initially hide at larger screen size */
.menu-toggle {
  display: none; }

.menu-toggle > .btn {
  width: 60%;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

/* =Button Default
----------------------------------------------- */
.menu-toggle > .btn {
  color: #D36E1F;
  border-color: #F8B403; }

.menu-toggle > .btn:hover, .menu-toggle > .btn:focus,
.menu-toggle > .btn:active, .menu-toggle > .btn.active,
.menu-toggle > .open .dropdown-toggle.btn-default {
  color: #D36E1F;
  background-color: #F7F3EC;
  border-color: #F8B403; }

/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 0.9em; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-title {
  margin: 20px 0px 30px 0px;
  color: black; }

.entry-header {
  text-align: left;
  font-size: 2.3333em; }

@media screen and (max-width: 768px) {
  .entry-header {
    text-align: center;
    font-size: 2.3333em; } }
/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.site-main .gallery {
  margin-bottom: 1.5em; }

.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.site-main .gallery dd {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* =Navigation
----------------------------------------------- */
.site-main [class*="navigation"] {
  margin: 0 0 1.5em; }

[class*="navigation"] .nav-previous {
  float: left;
  width: 50%; }

[class*="navigation"] .nav-next {
  float: right;
  text-align: right; }

/* =Comments
----------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer,
.site-footer, .site-info, .site-info a {
  display: inline-block;
  color: #837a70; }

/* =Fixed Footer
----------------------------------------------- */
html, body, .container {
  height: 100%; }

body > .container {
  min-height: 100%;
  height: auto !important; }

.site-footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  text-align: center;
  padding: 0 0 0 20px; }

.site-content {
  padding-bottom: 3em; }

/* Apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .site-footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px; } }
@media (max-width: 480px) {
  .container {
    height: auto;
    text-align: center; } }
/* =Menu Items
----------------------------------------------- */
.field-item, .field-price {
  width: 15%;
  font-weight: 300;
  font-family: inherit; }
